*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.carousel-inner img {
    width: 150%;
    height: 92vh;
  }
  .aboutimg{
      width: 75%;
      height: 350px !important;
      margin-bottom: 5px;
  }
  .logo{
      opacity: 1;
  }

  .logo:hover{
      opacity: 0.5;
  }

  .main-heading {
	
	font-weight: bolder;
	font-size: 4rem;
	padding: 50px;
	text-align: center;
  }

  .social-icon {
	margin: 0 30px 0;
	color: white;
	font-size: 1.5rem;
	opacity: 1;
  }
  
  .social-icon:hover {
	opacity: 0.4;
  }
  .copyright {
	color: white;
	margin-top: 10px;
	margin-bottom: 2px;
  }
 
/*---service section---*/
#features1
{
	text-align: right;
	padding: 10% 15%;
}
 #features
 {
     text-align: center;
     padding: 10% 15%;
     background-position:center;
    
 }
 .my-btn {
	margin-top: 2.5%;
	
	font-weight: bolder;
  }
.features-items {
  color: #393e46;
  font-size: 2rem;
  text-align: center;
  padding: 10%;
}  
